<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>

            body {
                background-color: #f5f5f5;
                font-family: Arial, sans-serif;
                font-size: 14px;
            }
            .container {
                margin-top: 80px;
                margin-bottom: 80px;
                background-color: #ffffff;
                padding: 20px;

                width: 500px;
            }

            #resultLabel {
                background-color: #ffecd7;
                display: flex;
                color: #000000;
                justify-content: center;
                align-items: center;
                height: 60px;
                text-align: center;

            }
            .btn {
                background-color: #ebebeb;
                color: #000000;
                font-size: 14px;
            }
            .clear-btn {
                width: auto; /* Prevent full width on the Clear button */
            }
            .form-control {
                font-size: 14px;
            }
            h4 {
                font-size: 18px;
            }
            #values {
                border: 1px solid black;
            }


        </style>
    </head>
    <body>
        <div class="container">
            <div class="row my-3">
                <div class="col-6">
                    <h1 class="fs-3">Calculator</h1>
                </div>
                <div class="col-6">
                    <button class="btn btn-outline-dark clear-btn w-100 py-0 rounded-1" id="clearBtn">Clear</button>
                </div>
            </div>
            <div>
                <label class="p-2" id="resultLabel"> <b> Enter values below, then select an operation </b></label>
            </div>



            <div class="my-3">
                <label for="values" class="form-label"><b>Values</b></label>
                <textarea class="form-control" id="values" rows="5" ></textarea>
            </div>

            <h4><b>Descriptive Statistics</b></h4>
            <div class="mb-3">
                <button class="btn btn-outline-dark w-100 my-2 py-0 rounded-1" id="computeSampleStdDevBtn">Compute Sample Standard Deviation | one value per line</button>
                <button class="btn btn-outline-dark w-100 my-2 py-0 rounded-1" id="computePopulationStdDevBtn">Compute Population Standard Deviation | one value per line</button>
                <button class="btn btn-outline-dark w-100 my-2 py-0 rounded-1" id="computeMeanBtn">Compute Mean | one value per line</button>
                <button class="btn btn-outline-dark w-100 my-2 py-0 rounded-1" id="computeZScoreBtn">Compute Z Score | value, mean, stdDev on one line</button>
            </div>

            <h4><b>Single Linear Regression</b></h4>
            <div class="mb-3">
                <button class="btn btn-light btn-outline-dark w-100 my-2 py-0 rounded-1" id="computeLinearRegressionBtn">Compute Single Linear Regression Formula | one x,y pair per line</button>
                <button class="btn btn-light btn-outline-dark w-100 my-2 py-0 rounded-1" id="computePredictedYBtn">Predict Y from Linear Regression Formula | x, m, b on one line</button>
            </div>


        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>

            const valuesInput = document.getElementById("values");
            const resultLabel = document.getElementById("resultLabel");

            document.getElementById("computeMeanBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("mean");
            });
            document.getElementById("computeSampleStdDevBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("sample-std-dev");
            });
            document.getElementById("computePopulationStdDevBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("population-std-dev");
            });
            document.getElementById("computeZScoreBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("z-score");
            });
            document.getElementById("computeLinearRegressionBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("linear-regression");
            });
            document.getElementById("computePredictedYBtn").addEventListener("click", (event) => {
                event.preventDefault();
                compute("predict-y");
            });
            document.getElementById("clearBtn").addEventListener("click", () => {
                valuesInput.value = "";
                resultLabel.innerHTML = "<b>Enter values below, then select an operation</b>";
                resultLabel.style.backgroundColor = "#FFECD7";
                resultLabel.style.color = "#000000";
            });


            function compute(operation) {
                const values = valuesInput.value.trim();

                if (!values) {
                    resultLabel.innerHTML = "<b>Please enter values first</b>";
                    resultLabel.style.backgroundColor = "#B70F0A";
                    resultLabel.style.color = "#FFFFFF";
                    return;
                }
                const validInputRegex = /^[\d,\s.-]+$/;
                if (!validInputRegex.test(values)) {
                    resultLabel.innerHTML = "<b>Invalid Input, Numbers Only</b>";
                    resultLabel.style.backgroundColor = "#B70F0A";
                    resultLabel.style.color = "#FFFFFF";
                    return;
                }

                fetch(`/${operation}?values=${encodeURIComponent(values)}`)
                    .then(response => {

                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Failed to fetch data');
                        }
                    })
                    .then(data => {

                        if (data && data.isSuccess !== undefined) {
                            if (data.isSuccess) {
                                resultLabel.style.backgroundColor = "#FFECD7";
                                resultLabel.style.color = "#000000";
                                if (operation === "linear-regression"){
                                    resultLabel.innerHTML = `<span><b>Single Linear Regression Formula:</b><br /><span id="result">${data.description}</span></span>`;
                                } else {
                                    resultLabel.innerHTML = `<span><b>${data.description}</b><br /><span id="result">${data.result}</span></span>`;
                                }
                            } else {
                                resultLabel.innerHTML = `<span><b>Invalid input.</b><br /><span id="result">${data.error}</span></span>`;
                                resultLabel.style.backgroundColor = "#B70F0A";
                                resultLabel.style.color = "#FFFFFF";
                            }
                        } else {
                            // Unexpected data format
                            resultLabel.innerHTML = "<b>Unexpected data format from server.</b>";
                            resultLabel.style.backgroundColor = "#B70F0A";
                            resultLabel.style.color = "#FFFFFF";
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        resultLabel.innerHTML = "<b>Error occurred. Please try again.</b>";
                    });
            }
        </script>
    </body>
</html>